<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Velocity</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <canvas #lineCanvas height="300"></canvas>
  <p text-center>Current Value {{ lastpost }} m/s </p>
  <div padding><p *ngIf="yellowcard" text-center id="yellowcard"><b>Yellow card</b></p></div>
  <div padding><p *ngIf="redcard" text-center padding id="redcard"> <b> Red card</b>
   </p></div>
  </ion-content>